modules = ["nodejs-20", "web", "python-3.11", "python3", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["jq", "solc"]

[deployment]
deploymentTarget = "autoscale"
build = ["sh", "-c", "npm run build"]
run = ["sh", "-c", "NODE_ENV=production node dist/index.js"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_sendgrid==1.0.0", "javascript_paypal==1.0.0", "javascript_stripe==1.0.0", "javascript_google_analytics==1.0.0", "javascript_websocket==1.0.0"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 8008

[[ports]]
localPort = 5004
externalPort = 8080

[[ports]]
localPort = 5008
externalPort = 6800

[[ports]]
localPort = 5009
externalPort = 8099

[[ports]]
localPort = 33493
externalPort = 8081

[[ports]]
localPort = 34113
externalPort = 3000

[[ports]]
localPort = 34487
externalPort = 5000

[[ports]]
localPort = 34531
externalPort = 3003

[[ports]]
localPort = 38731
externalPort = 4200

[[ports]]
localPort = 41723
externalPort = 3002

[[ports]]
localPort = 45095
externalPort = 6000

[[ports]]
localPort = 46047
externalPort = 5173

[[ports]]
localPort = 46219
externalPort = 3001

[[ports]]
localPort = 46617
externalPort = 8000

[userenv]

[userenv.production]
PUBLIC_URL = "https://coinrailz.com"

[userenv.shared]
TESTING_VITE_STRIPE_PUBLIC_KEY = "pk_test_51K9D4gLfxiQk11F0IicaifXTVOSJFK9o9wiuhUQNX90ZeOY5vabDGHuZnkor5WgKb8hisuOuzA5gJ1tO6if3aiwA00OCemyuMW"
TESTING_STRIPE_SECRET_KEY = "sk_test_51K9D4gLfxiQk11F0lBXifQcU54o25r7Pe0co2NVYnsScIoxNVLC4j3tjWyVPcARfAYF7JlGiiDIS4emE84rl94dg00m7IO6K7S"
