modules = ["nodejs-20", "web", "python-3.11", "python3", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["solc", "jq"]

[deployment]
deploymentTarget = "autoscale"
build = ["sh", "-c", "npm run build"]
run = ["sh", "-c", "NODE_ENV=production node dist/index.js"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_sendgrid==1.0.0", "javascript_paypal==1.0.0", "javascript_stripe==1.0.0", "javascript_google_analytics==1.0.0", "javascript_websocket==1.0.0"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34113
externalPort = 3000

[[ports]]
localPort = 41723
externalPort = 3002

[[ports]]
localPort = 46219
externalPort = 3001

[[ports]]
localPort = 46733
externalPort = 3003
